@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
  width: 100%;
  height: 100vh;
}
.max-width-app {
  max-width: 1700px;
  margin: auto;
}

@font-face {
  font-family: "Glacial_Indifference_Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Glacial Indifference Regular"),
    url("./fonts/GlacialIndifference-Regular.woff") format("woff");
}

@font-face {
  font-family: "Glacial_Indifference_Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Glacial Indifference Bold"),
    url("./fonts/GlacialIndifference-Bold.woff") format("woff");
}

/* Custom Scrollbar for WebKit browsers (Chrome, Safari, Edge) */
.scroll-container::-webkit-scrollbar {
  width: 12px; /* Width of the entire scrollbar */
}

.scroll-container::-webkit-scrollbar-track {
  background: #363636; /* Track of the scrollbar */
  border-radius: 10px; /* Optional: rounding the edges */
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #0d0d0d; /* Scrollbar color (like Tailwind blue-500) */
  border-radius: 10px; /* Rounding the scrollbar */
  border: 3px solid #1c1c1c; /* Creates a gap between thumb and track */
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: #1c1c1c; /* Darken the scrollbar on hover */
}

/* Firefox scrollbar styling */
.scroll-container {
  scrollbar-width: thin; /* Options: auto, thin */
  scrollbar-color: #1c1c1c #363636; /* thumb color and track color */
}

input {
  background-color: black;
  color: white;
}

/* For Chrome/Edge/Opera browsers to keep the background color during autocomplete */
input:-webkit-autofill {
  background-color: black !important;
  color: white !important;
}

input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  background-color: black !important;
  color: white !important;
}

/* Remove the default styling for Firefox and other browsers */
input:-moz-autofill {
  background-color: black !important;
  color: white !important;
}
/* Default stake button */
.stake-loading {
  animation: rotate 1.5s linear infinite;
  background-color: transparent;
  border: 0.3em solid #e1e1e1;
  border-radius: 1.5em;
  border-top-color: #444;
  height: 2rem;
  width: 2rem;
  pointer-events: none;
  padding: 0;
  /* background-image: url("./assets/images/loading.png"); */
  background-size: cover;
  background-position: center;
}
.unstake-loading {
  animation: rotate 1.5s linear infinite;
  background-color: green;
  border: 0.3em solid green;
  border-radius: 1.5em;
  border-top-color: green;
  height: 2rem;
  width: 2rem;
  pointer-events: none;
  padding: 0;
  /* background-image: url("./assets/images/loading.png"); */
  background-size: cover;
  background-position: center;
}

/* Loader animation */
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

/* Loader circle style */
.loader {
  border: 0.3em solid #e1e1e1;
  border-top-color: #444;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: rotate 1.5s linear infinite;
}

/* blinking poinst */
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blinking-point {
  width: 8.5px;
  height: 8.5px;
  background-color: #00b649; /* Change the color as needed */
  /* border-radius: 50%; */
  animation: blink 1s infinite; /* 1s for speed, infinite for continuous blinking */
}

html {
  font-size: 90%;
}

.item_scroll_auto {
  overflow: visible;
  animation: animateContainer 5s linear forwards infinite;
}
@keyframes animateContainer {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50%);
  }
}
